
.footer{
    height: 8rem;
    width: 80%;
    background-color: black;
}

/* ****************** responsividade 450px *********************** */

@media (max-width: 450px) {
    .footer{
        width: 100%;
    }
}