header {
    width: 80%;
}

header img {
    height: 5rem;
}

.title {
    display: flex;
    align-items: center;
    background-color: var(--marrom);
    padding-left: 5rem;
}

header h1 {
    width: 100%;
    text-align: center;
    color: var(--claro);
    font-size: 1.6rem;
}

header nav {
    background-color: var(--terra);
    height: 5rem;
    padding-left: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

nav>a {
    color: var(--marrom-avermelhado);
    font-size: 1.6rem;
}
